:root {
    --myheight: 100px;
}

/* 大画面 (992px以上) */
@media (min-width: 992px) {
    #sm-nav {
        display: none;
    }

    body {
        width: 100vw;
        height: calc(var(--vh) * 100);
        display: flex;
        flex-direction: column;
    }

}

/* 中画面 (360px以上 991px以下) */
@media (min-width: 360px) and (max-width: 991px) {
    #pc-nav {
        display: none;
    }

    body {
        width: 100vw;
        height: calc(var(--vh) * 100);
        display: flex;
        flex-direction: column;
    }

}

/* 小画面 (359px以下) */
@media (max-width: 359px) {
    #pc-nav {
        display: none;
    }

    body {
        width: 100vw;
        height: calc(var(--vh) * 100);
        display: flex;
        flex-direction: column;
        font-size: small;
    }

    label,
    select,
    select option,
    optgroup,
    input[type="text"],
    input[type="password"] input[type="tel"],
    input[type="number"],
    input[type="date"],
    input[type="time"] {
        font-size: small;
    }

    .header-title-sm {
        font-size: 18px;
    }
}

* {
    margin: 0;
    padding: 0;
}


header {
    height: 100%;
    max-height: 56px;
    box-sizing: border-box;
    z-index: 1000;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    margin: 0;
    padding: 0;
}

/* ヘッダースマホ画面のユーザ名表示 */
.nav-link-sm {
    font-size: 18px;
}