### claude ###
.claude
.claude/settings.json
.claude/settings.local.json
.mcp.json

### OS ###
.DS_Store
Thumbs.db

### Editor / IDE ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.sw?

### Eclipse / STS ###
.project
.classpath
.settings/
.springBeans
.sts4-cache/

### Logs ###
*.log

### Environment variables ###
.env
.env.local
.env.*.local
.env.test

### node_modules ###
node_modules/

### dist ###
dist

### otp data ###
config/otp/data/*.zip
config/otp/data/*.pbf
config/otp/data/*.obj
config/otp/data/.venv
