/**
 * 全画面共通のスタイル変数を定義するファイル
 */

$base-100: #ffffff;
$base-200: #f6f6f6;
$base-300: #f1f1f1;
$base-400: #cccccc;
$base-500: #767676;
$base-600: #4d4d4d;
$base-700: #000000;

$error-100: #a90000;
$error-200: #ffe6e6;

$warning-100: #e7a800;
$warning-200: #fff7c4;

$success-100: #4a7f02;
$success-200: #e5f1d6;

// $chose-100: #08B6D4;
// $chose-200: #ECFEFF;
$chose-100: #10B981;
$chose-200: #F0FDF4;

$text-primary: #374151;
$text-secondary: #6b7280;
$text-disabled: #9ca3af;

$margin-100: 8px;
$margin-200: 16px;
$margin-300: 24px;
$margin-400: 32px;

$fontsize-small: 10px;
$fontsize-medium: 14px;
$fontsize-large: 18px;

$title-font-size-small: 14px;
$title-font-size-medium: 18px;
$title-font-size-large: 24px;

/* ボタンのフォントサイズ */
$fontsize-button: 12px;

/* フォーカスカラー */
$forcus-color: $base-400;

/* プレースホルダーの色 */
$placeholder-color: $base-500;

/* 入力欄の高さ */
$input-height: 36px;

/* ヘッダーの高さ */
$header-height: 60px;
$header-background-color: #212529;
$header-border-color: #394047;
