$base-100: #ffffff;
$base-200: #f6f6f6;
$base-300: #f1f1f1;
$base-400: #cccccc;
$base-500: #767676;
$base-600: #4d4d4d;
$base-700: #000000;

$error-100: #a90000;
$error-200: #ffe6e6;

$warning-100: #e7a800;
$warning-200: #fff7c4;

$success-100: #4a7f02;
$success-200: #e5f1d6;

$chose-100: #0aa4e9;
$chose-200: #eaf6f9;

$theme-100: #a20061;
$theme-200: #2d55d7;
$theme-300: #77b820;
$theme-400: #e45e32;
$theme-500: #5914a7;
$theme-600: #2785af;
$theme-700: #06b281;
$theme-800: #9f790c;

$margin-100: 8px;
$margin-200: 16px;
$margin-300: 24px;
$margin-400: 32px;

$fontsize-small: 10px;
$fontsize-medium: 14px;
$fontsize-large: 18px;

/* ボタンのフォントサイズ */
$fontsize-button: 12px;

/* フォーカスカラー */
$forcus-color: $base-400;

/* プレースホルダーの色 */
$placeholder-color: $base-500;

/* 入力欄の高さ */
$input-height: 36px;

/* ヘッダーの高さ */
$header-height: 76px;